{% extends 'index.html' %}
{% load static %}

{% block content %}
<body>
    <div class="container text-center" style="margin: auto; padding-top: 20px;">
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc tincidunt luctus leo. Nam interdum nibh ut diam tempor facilisis. Suspendisse a blandit neque. Donec vitae turpis non elit hendrerit iaculis. Quisque sodales ligula eu nunc finibus, ac convallis nulla hendrerit. Mauris ultrices, tellus sit amet pellentesque molestie, enim dolor vulputate velit, at hendrerit nunc ante a enim. Morbi elementum, quam ornare dapibus consequat, massa quam rutrum quam, id vehicula elit purus id diam. Maecenas eget tellus metus. Pellentesque vel pellentesque lectus. Donec eu pharetra erat, et euismod nulla. Nam dapibus diam nec nulla aliquam suscipit. Donec ante sapien, viverra vitae turpis ut, fringilla faucibus massa. Etiam euismod, mauris id feugiat accumsan, nunc nunc facilisis nisi, ac maximus turpis orci ut augue. Fusce convallis dapibus nulla eget dictum. Aliquam a odio eget nisl faucibus mollis vitae eget risus</p>
        <h2>THANK YOU FOR SHOPPING WITH US</h2>
    </div>
</body>
{% endblock %}
